{% extends 'include/base.html' %}
{% load static %}
{% load custom_filters %}
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
{% endblock header %}
{% block title %}Home{% endblock title %}
{% block body %}
<h3 class="mt-4 w-100 ms-md-5 text-xs-center playfair fw-bolder">Resources by Exam</h3>

<section id="exam" class="mt-4">
    <div class="container ml-lg-5">
        <div class="row" id="carousel">
            {% for exam in Exam %}
            <div class="col-md-4 px-3 sort-by-exam">
                <a href="/resources/{{exam.link}}" target="_blank" rel="noopener noreferrer" class="link text-black pointer">
                    <div class="card position-relative justify-content-center border-0 mb-4 shadow-sm row h-15vh">
                        <div class="col-3">
                            <img src="/media/{{exam.image_Link}}" alt="{{exam.exam_Name}}" class="img-fluid">
                        </div>
                        <div class="col-9 h-100 overflow-hidden d-flex flex-column justify-content-center">
                            <div class="">
                                <h5>{{exam|safe|truncatechars:15}}</h5>
                            </div>
                            <div class="">
                                <p class="text-black-50 mb-0">{{ exam | count_matching_resources }} Resources</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="w-100">
    {% if problemsoftheweek %}
    <div class="d-flex justify-content-between align-items-center mb-4 mt-4">
        <div>
            <h3 class="playfair w-100 #ms-5 sec-heading potw-fs">Problem of The Week</h3>
        </div>
        <div>
            <a href="/problem-of-the-week" target="_blank" rel="noopener noreferrer" class="me-md-5 text-bg-primary btn btn-primary w-6em me-4 ms-3" id="view-all">View All</a>
        </div>
    </div>
    <div class="d-grid resources-grid ms-md-5">
        {% for potw in problemsoftheweek %}
        <div class="card h-40vh shadow-sm border-0 br-20 z-1 btn-hover-show">
                <div class="h-80 cont">
                    <img src="/media/{{potw.resource_Thumbnail}}" alt="{{res.resource_Name}}" class="img-fluid h-100 w-100 cover-top">
                    <a class="show-btn-on-hover shadow-sm btn-show-over-image-1 text-center fw-bold d-flex z-i-4 align-items-center overflow-hidden justify-content-center hide-line bg-white border-0 text-primary btn btn-primary my-1" href="{{potw.questionLink}}" target="_blank">
                        View Ques.
                    </a>
                    {% if potw.answerLink != None %}
                    <a class="show-btn-on-hover shadow-sm btn-show-over-image-2 text-center fw-bold d-flex z-i-4 align-items-center overflow-hidden justify-content-center hide-line bg-white border-0 text-primary btn btn-primary my-1" href="{{potw.answerLink}}">
                        View Ans.
                    </a>
                    {% else %}
                    <a class="show-btn-on-hover shadow-sm btn-show-over-image-2 text-center fw-bold d-flex z-i-4 align-items-center overflow-hidden justify-content-center hide-line bg-white border-0 text-primary btn btn-primary my-1" href="mailto:submissions@mathematicalcircles.com?subject={{potw.name}}%20Submission">
                        Answer
                    </a>
                    {% endif %}
                </div>
                    <div class="text-center fw-bold d-flex align-items-center overflow-hidden justify-content-center h-20 hide-line">
                        {{potw.name|safe|truncatechars:18}}
                    </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% for exam in Exam %}
    {% if exam|count_matching_resources %}
    <div class="d-flex justify-content-between align-items-center mb-4 mt-4">
        <div>
            <h3 class="playfair w-100 #ms-5 sec-heading">{{exam|safe|truncatechars:15}}</h3>
        </div>
        <div>
            <a href="/resources/{{exam.link}}" target="_blank" rel="noopener noreferrer" class="me-md-5 text-bg-primary btn btn-primary w-6em me-4 ms-3" id="view-all">View All</a>
        </div>
    </div>
    {% endif %}
    <div class="d-grid resources-grid ms-md-5">
        {% for res in exam|show_matching_resources %}
        <a href="{{res.resource_Link}}" target="_blank" rel="noopener noreferrer">
        <div class="card shadow-sm border-0">
                <div class="h-80">
                    <img src="/media/{{res.resource_Thumbnail}}" alt="{{res.resource_Name}}" class="img-fluid h-100 w-100 cover-top">
                </div>
                <div class="text-center fw-bold d-flex align-items-center overflow-hidden justify-content-center h-20 hide-line">
                    {{res.resource_Name|safe|truncatechars:18}}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</section>
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'">
<noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</noscript>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/js/carousel.js"></script>
{% endblock body %}