* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    background-color: #f7f9fb !important;
}

.header-notification {
    width: 100%;
    display: block;
    height: 10vh;
    background-color: #acc8f7;
}

marquee>p>a {
    text-decoration: none !important;
    color: #dc3545 !important;
}
.link {
    text-decoration: none !important;
}
.pointer{
    cursor: pointer !important;
}
.header-notification>.w-90 {
    width: 90%;
}

.h-15vh {
    height: 10vh;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #afafaf;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev,
.slick-next {
    background-color: #e1e1e1 !important;
    width: 5vh !important;
    height: 5vh !important;
    border-radius: 50% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 1;
}

.sort-by-exam {
    cursor: grab;
}

.sort-by-exam:active {
    cursor: grabbing;
}

/* .sort-by-exam > .card > .col-3 > img{
    transform: scale(1.2);
} */
.card {
    z-index: -1 !important;
}

.h-90 {
    height: 90%;
}

.slick-next {
    display: none !important;
}

.slick-prev {
    display: none !important;
}

.w-6em{
    width: 6em !important;
}

.h-3em{
    height: 3em !important;
}
#view-all{
    color: #2196f3 !important;
    background-color: rgba(227, 242, 253,1) !important;
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    outline: 0;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

.resources-grid{
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    grid-gap: 2vw;
    /* overflow:  visible; */
}

.resources-grid > .card{
    border-radius: 20px !important;
    height: 30vh;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(213, 234, 249,0.6);
  }
  
  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
  
@media only screen and (max-width: 768px) {
    .resources-grid{
        grid-template-columns: repeat(auto-fill, 150px);
        grid-gap: 5vw;
    }
    #exam {
        width: 90% !important;
    }
}