* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: #f7f9fb !important;
}

.header-notification {
    width: 100%;
    display: block;
    height: 10vh;
    background-color: #acc8f7;
}

marquee>p>a {
    text-decoration: none !important;
    color: #dc3545 !important;
}
.link {
    text-decoration: none !important;
}
.pointer{
    cursor: pointer !important;
}
.w-90 {
    width: 90%;
}

.h-15vh {
    height: 10vh;
}

.cover-top{
    object-position: top;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #afafaf;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev,
.slick-next {
    background-color: #e1e1e1 !important;
    width: 5vh !important;
    height: 5vh !important;
    border-radius: 50% !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    z-index: 1;
}

.sort-by-exam {
    cursor: grab;
}

.sort-by-exam:active {
    cursor: grabbing;
}

/* .sort-by-exam > .card > .col-3 > img{
    transform: scale(1.2);
} */
.card {
    z-index: -1 !important;
}

.h-90 {
    height: 90%;
}

.slick-next {
    display: none !important;
}

.slick-prev {
    display: none !important;
}

.w-6em{
    width: 6em !important;
}
#view-all{
    color: #2196f3 !important;
    background-color: rgba(227, 242, 253,1) !important;
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    outline: 0;
    border: 0;
    font-weight: bold;
    cursor: pointer;
}

.resources-grid{
    grid-template-columns: repeat(auto-fill, 185px);
    justify-content: center;
    grid-gap: 2vw;
    /* overflow:  visible; */
}

.resources-grid > a > .card{
    border-radius: 20px !important;
    height: 30vh;
}
.resources-grid > a > .card > div >img{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.h-75vh{
    height: 75vh;
}

.sec-heading::before{
    content: '';
    width: 100%;
    border: 20px solid #f98546 !important;
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    z-index: -1;
    transform: translate(17px,10px);;
    opacity: .5;
    left: 10px;
}

.resources-grid > a {
    text-decoration: none;
    color: black !important;
}

.h-80{
    height: 80%;
}
.h-20{
    height: 20%;
}

.playfair{
    font-family: 'Playfair Display';
}

.min-vh-80{
    min-height: 80vh !important;
}
 
.hide-line{
    overflow: hidden !important;
}
@media only screen and (max-width: 768px) {
    .resources-grid{
        grid-template-columns: repeat(auto-fill, 170px);
        grid-gap: 5vw;
    }
    #exam {
        width: 90% !important;
    }
}