<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block canonical %}
    <link rel="canonical" href="https://mathematicalcircles.com{{request.path}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css"
        integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/main.css?v=1">
    <!-- fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Unica+One&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link
            href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Unica+One&display=swap"
            rel="stylesheet">
    </noscript>
    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link
                href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
                rel="stylesheet">
        </noscript>
    <!-- fonts  -->
    {% endblock canonical %}
    {% block header %}{% endblock header %}
    <title>{% block title %}{% endblock title %} - MathematicalCircles</title>
</head>

<body>
    <div class="header-notification d-flex justify-content-around align-items-center">
        <div class="row align-items-center w-90 h-50">
            <div class="col-lg-3 col-md-10 text-center">
                <div class="home-content">
                    <div class="title">
                        <h4 class="mb-30 fw-bold">LATEST EXAM NEWS</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 h-100">
                <div class="text-center h-100 d-flex align-items-center text-lg-start float-right text-danger" id="second">
                    <marquee onmouseover="this.stop();" onmouseout="this.start();">
                        <p>{% for latestnews in latestNews %}
                            {% if latestnews.link %}
                            <span style="width: 10vw; display: inline-block;"></span> <a href="{{latestnews.link}}"
                                target="_blank" rel="noopener noreferrer" title="{{latestnews.link}}">{{latestnews.news}}</a>
                            {% else %}
                            <span style="width: 10vw; display: inline-block;"></span> {{latestnews.news}}
                            {% endif %}
                            {% endfor %}
                        </p>
                    </marquee>
                </div>
            </div>
        </div>
    </div>
    {% if problemsOfTheWeekAnnouncement %}
    <div class="bg-new-danger w-100 d-flex p-2">
        <marquee onmouseover="this.stop();" onmouseout="this.start();">Problem of The Week Announcement: <span>
            {% for potwa in problemsOfTheWeekAnnouncement %}
            {% if potwa.link %}
            <span style="width: 5vw; display: inline-block;"></span> <a href="{{potwa.link}}"
                target="_blank" rel="noopener noreferrer" title="{{potwa.link}}">{{potwa.announcement}}</a>
            {% else %}
            <span style="width: 5vw; display: inline-block;"></span> {{potwa.announcement}}
            {% endif %}
            {% endfor %}
        </span></marquee>
    </div>
    {% endif %}
    {% block body %}{% endblock body %}
    <footer style="min-height:50px;" class="d-flex flex-column flex-md-row mt-3 justify-content-center align-items-center">
        <div>
            Design and Developed by <a target="_blank" rel="noopener noreferrer" class="text-black text-decoration-none"  href="https://thetecharch.com"><strong>TheTechArch.com </strong></a>
        </div>
        <div>
            <span class="d-md-inline-block d-none">&nbsp;|</span> Maintained by pi@mathematicalcircles.com
        </div>
    </footer>
</body>

</html>